version: "3.8"

services:
 webserver-1:
  image: nginx
  volumes:
    - $PWD/server1:/usr/share/nginx/html
  networks:
   - connect
 webserver-2:
  image: nginx
  volumes:
    - $PWD/server2:/usr/share/nginx/html
  networks:
   - connect
 webserver-3:
  image: nginx
  volumes:
    - $PWD/server3:/usr/share/nginx/html
  networks:
   - connect
  
 reverse-proxy:
  image: nginx
  ports:
    - 80:80
  volumes:
    - $PWD/reverseproxy/conf:/etc/nginx/conf.d
    - $PWD/reverseproxy/server:/usr/share/nginx/html
  networks:
   - connect
  

networks:
  connect:
    driver: bridge

